@model ProductViewModel

@{
    ViewData["Title"] = "ShowProduct";
}

<h1>Товар</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Имя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PName)
        </dd>
        <dt class="col-sm-2">
            Описание
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class="col-sm-2">
            Цена
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            Категория
        </dt>
        <dd class="col-sm-10">
            @Model.Category.Name
        </dd>
        <dt class="col-sm-2">
            Подкатегория
        </dt>
        <dd class="col-sm-10">
           @Model.SubCategory.Name
        </dd>
        <dt class="col-sm-2">
            Состояние
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class="col-sm-10">
            Производитель
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Producer.Name)
        </dd>
        <dt class="col-sm-10">
            Продавец
        </dt>
        <dd class="col-sm-2">
            @Model.userdata.Name
        </dd>
        @*<dt class="col-sm-10">
            Номер телефона
        </dt>
        <dd class="col-sm-2">
            @foreach(var p in Model.userdata.Phones)
            {
                p.phone.ToString();
            }
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Products" class="btn-outline-secondary">Вернуться к списку товаров</a>
</div>
<form asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@ViewBag.ProdId" , asp-route-BuyerId="@Model.BuyerId">
    <div>
        <input type="submit" class="btn btn-success" value="Добавить в корзину" />
    </div>
</form>
