@using Domain.Core
@model IEnumerable<Order>

@{
    ViewData["Title"] = "Orders";
}
<h1>Заказы</h1>
<div class="row">
    <div class="col">
        Имя
    </div>
    <div class="col">
        Город
    </div><div class="col">
        Дата
    </div><div class="col">
        Адрес
    </div><div class="col">
        Комментарий
    </div><div class="col">
        Цена
    </div>
    <div class="col">
        Название товара
    </div>
    <div class="col">
        Количество товара
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
</div>

@foreach (var o in Model)
{
<div class="row">
    <div class="col">
        @o.Name
    </div>
    <div class="col">
        @o.City.city
    </div>
    <div class="col">
        @o.Date
    </div>
    <div class="col">
        @o.Address
    </div>
    <div class="col">
        @o.Comment
    </div>
    <div class="col">
        @o.SumCost
    </div>
    <div class="col">
        @foreach (var c in o.lines)
        {
            <div>
                @c.Product.PName
            </div>
        }
    </div>
    <div class="col">
        @foreach (var c in o.lines)
        {
            <div>
                @c.Quantity
            </div>
        }
    </div>
        <div class="col">
            <form asp-action="Index" asp-controller="Order" asp-route-id="@o.OrderId">
                <div>
                    <input type="submit" class="btn btn-success" value="Просмотр заказа" />
                </div>
            </form>
        </div>
        <div class="col">
            <form asp-action="Edit" asp-controller="Order" asp-route-id="@o.OrderId">
                <div>
                    <input type="submit" class="btn btn-success" value="Изменить" />
                </div>
            </form>
        </div>
    </div>
}