@using Domain.Core
@model ProductsViewModel

@{
    ViewData["Title"] = "ProductList";
}

<h1>Список моих товаров</h1>

<div>
    <hr />
    <table class="table">
        <tr><td>Название</td><td>Описание</td><td>Цена</td><td>Категория</td><td>Подкатегория</td><td>Состояние</td><td>Производитель</td></tr>

        @foreach (Product p in Model.Products)
        {
    <tr><td>@p.PName</td><td>@p.ProductDescription</td><td>@p.Cost</td><td>@p.Category.Name</td><td>@p.Subcategory.Name</td><td>@p.Condition</td><td>@p.Producer.Name</td><td><a asp-action="EditProduct" asp-route-id="@Model.UserId" class="btn-link">Edit</a></td><td><a asp-action="DeleteProduct" asp-route-id="@Model.UserId" class="btn-danger">Delete</a></td></tr>
        }
    </table>
</div>

